# Python cache
__pycache__/
*.pyc

# Environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Large data files and models
best_model.pt
best_model_samanantar.pt
processed_samanantar_data/
nllb-finetuned-en-te/

# IDE files
.vscode/